body{
    margin: 0;
}

.menu{
    width: 99, 9%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #5390d9 0%, #6930c3 100%) 1;
    background-image: repeating-radial-gradient(ellipse farthest-side at left bottom, #4ea8de 0%, #5390d9 10%, #5e60ce 20%);
    margin: 0;
}
.menu nav{
    display: flex;
}
.logo {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 35px;
}

.logoredsocial {
    width: 50px;
    height: 50px;
    padding-left: 10px;
}
.opcionesNavegacion {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: cursive;
    align-items: center;
}

.opcionesNavegacion li a {
    padding: 10px;
    font-family: 'Monoton', cursive;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.redesSociales {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: cursive;
    align-items: center;
}
.portada{
    width: 100%;
    height: 250px;
    background-image: url(src/portada1600x900.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada h1 {
    font-size: 80px;
    font-family: 'Rye', cursive;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom:80px;
    margin: 0px;
}
.losdj{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    padding-top: 30px;
    height: 800px;
}
.dj{
    border: 10px ridge #6930c3;
    padding: 10px;
    text-align: center;
}
#dj1{
background-image: url(src/deadmau5dj1.jpg);
background-size: 100% 100%;
}
#dj2{
    background-image: url(src/djcazzette.jpg);
    background-size: 100% 100%;
}
#dj3{
    background-image: url(src/djSquarepusher.jpg);
    background-size: 100% 100%;
}
#dj4{
    background-image: url(src/Marshmello-750x400.jpg);
    background-size: 100% 100%;
    grid-column: 2/2;
}

.galeriadevideos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}
#videodj1,#videodj2,#videodj3,#videodj4{
    width: 800px;
    height: 280px;

}

@keyframes efectoFondo {
    0% {
        background-color: #4ea8de;
    }
    25% {
        background-color: #FF073A;
    }
    50% {
        background-color: #5390d9;
    }
    75% {
        background-color: #2DFE54;
    }

    100% {
        background-color: #5e60ce;
    }
}
.fondoanimado{
    width: 99, 9%;
    height: 1500px;
    animation-name: efectoFondo;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.dj.col-1,.videos{
    border-width: 15px 15px; 
    border-radius: 20px; 
  }
  @keyframes animacionBorde{
    0% {
      border-color: #5390d9;
      border-top-color:#6930c3;
    }
  
    25% {
      border-color: #5390d9;
      border-right-color: #6930c3;
    }
  
    50% {
      border-color: #5390d9;
      border-bottom-color:#6930c3;
    }
  
    75% {
      border-color: #5390d9;
      border-left-color: #6930c3;
    }
  
    100% {
      border-color: #5390d9;
      border-top-color: #6930c3;
    }
  }
  
  .dj {
    border: 15px solid black;
   }
  .dj.row-1,.videos {
  animation: animacionBorde 750ms linear infinite;
  }
  
.mapa{
    width: 99, 9%;
    height: 400px;
    background-image: url(src/fondomapa.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contacto{
    width: 99, 9%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid transparent;
    border-image: linear-gradient(to left, #5390d9 0%, #6930c3 100%) 1;
    background-image: linear-gradient(to right, white 0%, #5390d9 50%, #5e60ce 100%);
    margin: 0;
    position: relative;
}
#redes p{
    font-family: 'Monoton', cursive;
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: absolute;
    left:260px;
    top: 5px;
    margin: 0px;

}
#newsletter p{
    font-family: 'Monoton', cursive;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0px;
    position: absolute;
    top: 4px;
}
#newsletter input{
    position: absolute;
    top: 50px;
}
.iconos{
    display: flex;
    list-style: none;
    position: absolute;
    left:160px;
    top: 20px;
}